.header {
    padding: 1rem 0 3rem;
    text-align: left
}

.title {
    color: #ff9900;
    font-size: 2rem;
    text-decoration: none;
    text-align: left
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-around;
    
    button {
        padding: 0 6px 0 6px;
        margin: 6px 8px 6px 8px;
        min-width: 88px;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        text-decoration:none;
        border: none;
        outline: none;
        background-color: #000;
      }
}

.nav-item {
    color: #666666;
    font-size: 1rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #ff9900;
}
