.container {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 1.5rem ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1f2023;
}

.content {
    flex-grow: 1;
}